option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: project.settings
    "PYTHONPATH": "/opt/python/current/:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: project.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    /html: statichtml
    /static-files: static-files


container_commands:
   10_deploy_hook_permissions:
     command: |
       sudo find .platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;
       sudo find /var/app/staging/.platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;